:root {
  --accent-color: #2196f3;
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #212121;
  --secondary-color: #ffffff;
  --link-color: #757575;
  --text-color: #757575;
  --button-color: #188ce8;
  --hero-color: #2f303a;
  --team-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--secondary-color);
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

h1,
h2. h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

/* Site nav */
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
  padding-top: 32px;
}
.header-nav .link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.logo-container {
  margin-right: 92px;
  padding-top: 24px;
}

.logo {
  font-family: "Raleway";
  color: var(--accent-color);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.accent {
  font-family: "Raleway";
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: var(--accent-color);
}
.header-nav .link.current {
  color: var(--accent-color);
}
.header-nav-list {
  display: flex;
  column-gap: 51px;
}

.menu-list {
  display: flex;
  column-gap: 50px;
  padding-top: 25px;
}

/* contacts */

.header-contacts {
  color: var(--link-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

/* Hero setcion*/

.hero {
  background-color: var(--hero-color);
  text-align: center;
  margin-bottom: 29px;
}

.title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.hero-bth {
  color: var(--primary-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  min-width: 216px;
  align-items: center;
}
.hero-bth:hover,
.hero-bth:focus {
  background-color: var(--button-color);
}

/* about section */
.about-section {
  background-color: var(--secondary-color);
}
.about-title {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
.about-text {
  line-height: 1.71;
  color: var(--text-color);
}

/* section title */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Team */

.section-team {
  background-color: var(--team-color);
}
.team-item {
  background-color: var(--secondary-color);
}
.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.person-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

/* footer */

.footer {
  background-color: var(--hero-color);
}
.footer-logo {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: none;
}
.footer-accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.footer-adress {
  font-style: normal;
}
.footer-location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;
}
.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

/* Portfolio */

.portfolio-header {
  margin-bottom: 94px;
}

.section-porfolio {
  margin-bottom: 70px;
}

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.menu-filter {
  margin-bottom: 34px;
}
.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

/* section */

.portfolio-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}
. .portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}
